@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");


h1{
  font-size: 80px;
  
   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; 
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
  
}
nav {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  font-weight: bold;
  font-family: cursive;
  border: 2px black solid;
  margin: 10px;
  box-shadow: 5px 10px #888888;
  
}

.deletebutton {
  background-color: darkorange;
  color:  white;
  border-radius: 6px;
  font-size: 20px;
}
.deletebutton:hover {
  background-color: #f44336;
  color: white;
  
}
.makebutton{
  font-size: 20px;
  background-color: yellow;
  border-radius: 6px;
  margin: 10px;

}
.makebutton:hover {
  background-color: greenyellow;
}


.beergif {
  width: 200px;
  margin: 10px;
}

.image {
  width:200px;
  
}
.image:hover {
  transform: scale(.75);
}

ul {
  list-style: none;
  border: 2px solid black;
  width: 300px;
  background-color: white;
 
}

li {
  padding: 20px;
  font-size: 20px;
}

.create {
  padding: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.create {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  background-color: white;
 
}

.beers {
  display:flex;
  flex-wrap: wrap;
  padding: 10px;
}

.header {
  display: flex;
  padding: 20px;
  background-color: #eb6434;
}

nav {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

main {
  background-image: url("http://adwallpapers.xyz/uploads/posts/8979-beer-background.jpg");
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  color: #ffa500
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {

  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {

  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
