.App {
  text-align: center;
  display: flex;
  padding: 50px;
  align-items: center;
  flex-direction: column;
  background-color: blanchedalmond;
  height: 100%;
}
h2{
  font-size: 50px;
  font-family: cursive
  
}
.display{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  font-weight: bold;
  font-family: fantasy;
  border: 2px black solid;
  margin: 10px;
  
  

}
img {
  width:200px;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul {
  list-style: none;
  border: 2px solid black;
  width: 300px;
  background-color: white;
  
}
li {
  padding: 20px;
  font-size: 20px;
}
.create {
  padding: 20px;
  font-size: 20px;
  
  display: flex;
  flex-direction: column;
}
.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.create {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  background-color: white;
}
.beers {
  display:flex;
  flex-wrap: wrap;
  padding: 10px;
 

}
.header {
  display: flex;
  padding: 20px;
  background-color: #eb6434;


}
nav {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
main {
  background-image: url("http://adwallpapers.xyz/uploads/posts/8979-beer-background.jpg");
  min-height: 100vh;
}
a {
  text-decoration: none;
}